body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

h3{
    text-align: left;
}

.box{
    background-color: #eeeeee;
    padding: 10px;
    margin: 0 auto;
    width: 900px;
    margin-bottom: 10px;
    border-radius:6px;
    border:1px solid #dddddd;
}

input{
    width: 70px;
}
.button {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
    text-align: center;
    margin-bottom: 20px;
}
.button:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.button:active {
	position:relative;
	top:1px;
}